body {
  background-image: url(http://slateman.net/images/gaming/backgrounds/ssf2-ryu.gif);
  background-repeat: no-repeat;
}

#ryu {
    display: inline-block;
    float: left;
}

.demo-hadouken {
    vertical-align: top;
    margin-top: 55px;
    margin-left: -55px;
}
